.sensor-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: center;
}

.mobilepage-sensor-container {
    background: linear-gradient(
    to bottom right,
    rgba(192, 149, 149, 0.8) 0%,
    rgba(29, 26, 26, 0.6) 50%,
    rgba(235, 105, 105, 0.8) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect on box-shadow */
    width: 95%;
}

.mobilepage-sensor-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adjust shadow on hover for emphasis */
}

.mobilepage-sensor-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

.mobilepage-sensors-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    border: 2px solid #cfc9c9;
    border-radius: 10px;
    overflow-y: scroll;
}